.appBarPanel {

    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 15px 30px;
}

.profileDialogContentWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profileDialogContentWrapper>* {
    margin: auto;
    text-align: center;
}

.profilePic {
    cursor: pointer;
    width: 150px;
    height: 150px;

}

.profilePic>img {
    border-radius: 50%;
    border: 1px solid;
    width: 150px;
    height: 150px;
    display: block;
    /* style={{ border: "1px solid white", borderRadius: '50%' }} */
}

.profilePic+span {
    position: absolute;
    bottom: 10px;
    right: 5%;
    display: none;
    background: #000;
    color: #fff;
    opacity: 0.8;
}

.profilePic:hover+span {
    display: inline-block;
}

.pfpImgWrapper {
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    display: flex;
    flex-wrap: wrap;
}

.pfpImgWrapper>div {
    width: 70px;
    height: 70px;
    margin: 10px;
}

.imgPfp {
    cursor: pointer;
    width: 70px;
    height: 70px;

}

.userPfp {
    width: 46px;
    height: 46px;
    border-radius: 50%;
}

.userPfpWrapper {
    border-radius: 50% !important;
    border: 2px solid #dee2e6 !important;
    padding: 2px !important;

}

.mobileThemeToggleBtn {
    display: none !important;
    width: 40px;
    height: 40px;
}

.desktopThemeToggleBtn {
    border: 2px solid white !important;
    font-family: "Bree Serif" !important;
    font-size: 18px;
    padding: 3px 10px;
}
.helpBtn {
    border: 2px solid white !important;
    font-family: "Bree Serif" !important;
    font-size: 18px;
    padding: 3px 10px;
}
.helpDialogContent>h2 {
    text-align: center;
    font-size: 40px;
}

.helpDialogContent>p {
    text-align: justify;
    font-size: 20px;
}
.statDialogContent>h3 {
    text-align: center;
    font-size: 40px;
    margin: 25px auto;
}
.statDialogContent>p {
    text-align: justify;
    font-size: 20px;
}
.winsInRowList {
    width: 100%;
    max-width: 600px;
    min-width: 500px;
    border-radius: 10px;
    padding: 0;
}
@media (max-width: 660px) {
    .helpBtn {
        display: none !important;
    }
    .winsInRowList {
        min-width: auto;
    }
    .statDialogContent>h3 {
        text-align: center;
        font-size: 30px;
        margin: 10px auto;
    }
}

@media (max-width: 450px) {
    .mobileThemeToggleBtn {
        display: block !important;
    }

    .desktopThemeToggleBtn {
        display: none !important;
        margin: auto 15px;
    }

    .appBarPanel>div:last-child {
        display: flex;
        align-items: center;
    }
}

@media (max-width: 1000px) {
    .desktop2ThemeToggleBtn {
        display: none !important;
    }
}


/* 
.userNFTsImgWrapper {}

.userNFTsImgWrapper>img {
     width: calc(33.33% - 10px);
    height: auto; 
} */