@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Bree Serif', serif !important;
  color: #fff;
}

#__next {
background: url('/img/background.png') no-repeat;
background-size: 100%
}


::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background: #7a6eaa;
  border-radius: 8px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #ffffff23;
}


.transformX-dice {
  transform: translateX(-35px);
}

.dice-div {
  /* background-color: rgba(0, 0, 0, 0.5); */
  /* border-style: groove; */
  width: 100%;
  height: 300px;
  /* height: 100%; */
  border-radius: 10px;
  /* display: grid; */
  display: flex;
  flex-direction: row-reverse;
  justify-items: center;
  /* padding: 2rem; */
  perspective: 600px;
}

.individual {
  display: flex;
  /* margin: 5px auto; */
  width: 100%;
  align-items: center;
  transform: translateX(-40px);
}

.die-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  width: 110px;
  height: 110px;
  list-style-type: none;
  transform-style: preserve-3d;
  margin: auto;
}

.even-roll {
  transition: transform 2.25s ease-out;
}

.odd-roll {
  transition: transform 2s ease-out;
}

/* .odd-roll0 {
  transition: transform 2.5s ease-out;
} */

.die-item {
  background-color: #fefefe;
  /* #0F172A; */
  box-shadow: inset -0.35rem 0.35rem 0.75rem rgba(0, 0, 0, 0.3),
    inset 0.5rem -0.25rem 0.5rem rgba(0, 0, 0, 0.15);
  display: grid;
  grid-column: 1;
  grid-row: 1;
  grid-template-areas:
    "one two three"
    "four five six"
    "seven eight nine";
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 210px;
  width: 210px;
  /* padding: 1rem; */
  border-radius: 20px;
}

.diceImg {
  width: 210px;
  height: 210px;
  border-radius: 20px;
}

.dot {
  align-self: center;
  background-color: #0B0A0C;
  /* #fefefe; */
  border-radius: 50%;
  box-shadow: inset -0.15rem 0.15rem 0.25rem rgba(0, 0, 0, 0.5);
  display: block;
  height: 16px;
  width: 16px;
  justify-self: center;
}

.even-roll[data-roll="1"] {
  transform: rotateX(360deg) rotateY(720deg) rotateZ(360deg);
}

.even-roll[data-roll="2"] {
  transform: rotateX(360deg) rotateY(720deg) rotateZ(360deg);
}

.even-roll[data-roll="3"] {
  transform: rotateX(360deg) rotateY(720deg) rotateZ(360deg);
}

.even-roll[data-roll="4"] {
  transform: rotateX(360deg) rotateY(720deg) rotateZ(360deg);
}

.even-roll[data-roll="5"] {
  transform: rotateX(360deg) rotateY(720deg) rotateZ(360deg);
}

.even-roll[data-roll="6"] {
  transform: rotateX(360deg) rotateY(720deg) rotateZ(360deg);
}



.odd-roll[data-roll="1"] {
  transform: rotateX(-360deg) rotateY(-720deg) rotateZ(-360deg);
}

.odd-roll[data-roll="2"] {
  transform: rotateX(-270deg) rotateY(-720deg) rotateZ(360deg);
}

.odd-roll[data-roll="3"] {
  transform: rotateX(-360deg) rotateY(-810deg) rotateZ(-360deg);
}

.odd-roll[data-roll="4"] {
  transform: rotateX(-360deg) rotateY(-630deg) rotateZ(360deg);
}

.odd-roll[data-roll="5"] {
  transform: rotateX(-450deg) rotateY(-720deg) rotateZ(-360deg);
}

.odd-roll[data-roll="6"] {
  transform: rotateX(-360deg) rotateY(-900deg) rotateZ(360deg);
}

[data-side="1"] {
  transform: rotate3d(0, 0, 0, 90deg) translateZ(6.5rem);
}

[data-side="2"] {
  transform: rotate3d(-1, 0, 0, 90deg) translateZ(6.5rem);
}

[data-side="3"] {
  transform: rotate3d(0, 1, 0, 90deg) translateZ(6.5rem);
}

[data-side="4"] {
  transform: rotate3d(0, -1, 0, 90deg) translateZ(6.5rem);
}

[data-side="5"] {
  transform: rotate3d(1, 0, 0, 90deg) translateZ(6.5rem);
}

[data-side="6"] {
  transform: rotate3d(1, 0, 0, 180deg) translateZ(6.5rem);
}


.loading {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 99999999;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333333b9;
  flex-direction: column;
}

.loading span {
  margin-top: 10px;
  color: #fff;
}

.color-white {
  color: #fff;
}



/*  */
.wrapper-menu {
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 330ms ease-out;
}

.wrapper-menu.open {
  transform: rotate(-45deg);
}

.line-menu {
  background-color: #fff;
  width: 100%;
  height: 2px;

}

.line-menu.half {
  width: 50%;
}

.line-menu.start {
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transform-origin: right;

}

.open .line-menu.start {
  transform: rotate(-90deg) translateX(1px);
  width: calc(50% - 1px);
}

.line-menu.end {
  align-self: flex-end;
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transform-origin: left;
}

.open .line-menu.end {
  transform: rotate(-90deg) translateX(-1px) translateY(-1px);
}

button.selected {
  border: 4px solid green;
}

.wallet-adapter-button-trigger {
  max-width: 360px;
  margin: auto;
  background:#33578C !important;
  font-family: "Bree Serif" !important;
  font-size: 28px !important;
  padding: 5px 30px !important;
  border: 2px solid white !important;
  height: 69px !important;
}
.bottomFixedIconWrapper {
  position: fixed;
  bottom: 15px;
  right: 0;
}

.bottomFixedIconWrapper >span{
  cursor: pointer;
  margin-right: 10px;
}
.mobileHelpDialogBtn {
  display: none !important;
  width: 40px;
  height: 40px;
}
@media (max-width: 1600px) {

  .dice-div {
    height: 250px;
    /* max-width: 70%; */
    margin: auto;
    justify-content: center;
  }

  .dice-div>div {
    /* width: 40%; */
    max-width: 230px;
    /* min-width: 200px; */
  }
}

@media (max-width:1200px) {
  /* .wallet-adapter-button-trigger {
    width: 100% !important;
    margin: 0 !important;
  }

  .wallet-adapter-dropdown {
    display: block !important;
    width: 100% !important;
  } */
  .bottomFixedIconWrapper {
    position: relative;
    display: table;
    margin: auto;
    padding-bottom: 30px;

  }
}

@media(max-width:660px) {
  .wrapper-menu {
    width: 15px;
    height: 15px;
  }

  .open .line-menu {
    width: calc(100% - 0px)
  }

  .open .line-menu.start {
    transform: rotate(-90deg) translateX(1px);
    width: calc(50% - 0px);
  }

  .open .line-menu.end {
    transform: rotate(-90deg) translateX(-2px) translateY(-2px);
    width: calc(50% - 1px);

  }

  .wallet-adapter-button-trigger {
    height: 51.5px !important;
    font-weight: 400 !important;
    font-size: 18px !important;
    line-height: 18px !important;
  }

  .diceDivWrapper {
    margin: 0 15px;
  }

  .dice-div {
    height: 100px;
  }

  .die-item {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    padding: 0.4rem;
  }

  .dot {
    width: 10px;
    height: 10px;
  }

  .transformX-dice {
    transform: translateX(0px);
  }


  [data-side="1"] {
    transform: rotate3d(0, 0, 0, 90deg) translateZ(1.6rem);
  }

  [data-side="2"] {
    transform: rotate3d(-1, 0, 0, 90deg) translateZ(1.6rem);
  }

  [data-side="3"] {
    transform: rotate3d(0, 1, 0, 90deg) translateZ(1.6rem);
  }

  [data-side="4"] {
    transform: rotate3d(0, -1, 0, 90deg) translateZ(1.6rem);
  }

  [data-side="5"] {
    transform: rotate3d(1, 0, 0, 90deg) translateZ(1.6rem);
  }

  [data-side="6"] {
    transform: rotate3d(1, 0, 0, 180deg) translateZ(1.6rem);
  }

  .MuiListItemSecondaryAction-root {
    top: auto !important;
    bottom: 0 !important;
    transform: none !important;
  }
  
  .footerHelpDialogContent>h2 {
    text-align: center;
    font-size: 40px;
  }

  .footerHelpDialogContent>p {
    text-align: justify;
    font-size: 20px;
  }
  .mobileHelpDialogBtn {
    display: inline-block !important;
    margin-top: -38px !important;
  }

}

@media (max-width:450px) {
  .smDisplayNone {
    display: none !important;
  }
}