// dice
@mixin diceStyle($diceBg: #f6f3f0,
  $diceColor1: #ffff00,
  $diceColor2: #ffff00,
  $diceRadius: 20px) {
  .diceFace {
    box-sizing: border-box;
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: $diceBg;
    border: 2px solid lighten($diceBg, 10%);
    border-radius: $diceRadius;
    transform-style: preserve-3d;
    transition: 0.5s;


    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      background-color: lighten($diceBg, 10%);
      border-radius: 20px;
      transform: translateZ(-1px);
    }

    &::after {
      position: absolute;
      content: "";
      width: 20px;
      height: 20px;
      top: 50%;
      left: 50%;
      margin: -10px 0 0 -10px;
      background-color: $diceColor2;
      border-radius: 100%;
      transform: translateZ(1px);
    }
  }

  .front {
    transform: translateZ(75px);

    &::after {
      width: 40px;
      height: 40px;
      margin: -20px 0 0 -20px;
      background-color: $diceColor1;
    }
  }

  .up {
    transform: rotateX(90deg) translateZ(75px);

    &::after {
      margin: -30px 0 0 -30px;
      box-shadow: 40px 40px $diceColor2;
    }
  }

  .left {
    transform: rotateY(-90deg) translateZ(75px);

    &::after {
      margin: -40px 0 0 -40px;
      box-shadow: 30px 30px $diceColor2, 60px 60px $diceColor2;
    }
  }

  .right {
    transform: rotateY(90deg) translateZ(75px);

    &::after {
      margin: -30px 0 0 -30px;
      background-color: $diceColor1;
      box-shadow: 40px 0px $diceColor1, 0px 40px $diceColor1,
        40px 40px $diceColor1;
    }
  }

  .bottom {
    transform: rotateX(-90deg) translateZ(75px);

    &::after {
      margin: -36px 0 0 -36px;
      box-shadow: 26px 26px $diceColor2, 52px 52px $diceColor2,
        52px 0px $diceColor2, 0px 52px $diceColor2;
    }
  }

  .back {
    transform: rotateX(180deg) translateZ(75px);

    &::after {
      margin: -40px 0 0 -30px;
      box-shadow: 40px 0px $diceColor2, 0px 30px $diceColor2,
        40px 30px $diceColor2, 0px 60px $diceColor2, 40px 60px $diceColor2;
    }
  }
}

.dice {
  position: absolute;
  width: 180px;
  height: 180px;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
  transform-style: preserve-3d;
  transform: rotate3d(0, 0.9, 0.9, 90deg);
  transition: 0.5s cubic-bezier(0.42, 1.57, 0.62, 0.86);

  &.throw {
    animation: rotateDice 1.6s ease-in reverse, throwDice 2s linear;
  }

  &.up {
    //   animation:throwUp 1s ease-in rotateDice 0.7s ease-in;
    margin-top: -200px;
  }

  &.down {
    animation: throwDown 1s ease-out;
  }

  @include diceStyle();
}

.diceWrap {
  position: relative;
  width: 200px;
  height: 200px;
  margin: auto;
  transform: translate(-45px, -70px);
  //   top: calc(50% - 100px);
  //   left: calc(50% - 100px);

  &::before {
    position: absolute;
    content: "";
    width: 70%;
    height: 10%;
    top: 90%;
    left: 15%;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 100%;
    filter: blur(10px);
  }
}

// keyframes
@keyframes rotateDice {
  30% {
    transform: rotate3d(1, 1, 1, 0deg);
  }

  100% {
    transform: rotate3d(1, 1, 1, 1440deg);
  }
}

@keyframes throwUp {
  100% {
    margin-top: -200px;
  }
}

@keyframes throwDown {
  100% {
    margin-top: 0;
  }
}

@keyframes rotatePerFace {
  16% {
    transform: rotate3d(-0.1, 0.6, -0.4, 180deg);
  }

  32% {
    transform: rotate3d(-0.85, -0.42, 0.73, 180deg);
  }

  48% {
    transform: rotate3d(-0.8, 0.3, -0.75, 180deg);
  }

  64% {
    transform: rotate3d(0.3, 0.45, 0.9, 180deg);
  }

  80% {
    transform: rotate3d(-0.16, 0.6, 0.18, 180deg);
  }

  100% {
    transform: rotate3d(-0.1, 0.3, -1, 180deg);
  }
}

@keyframes throwDice {
  20% {
    margin-top: -200px;
  }

  40% {
    margin-top: 0px;
  }

  60% {
    margin-top: -30px;
  }

  80% {
    margin-top: 0px;
  }

  85% {
    margin-top: -10px;
  }

  90% {
    margin-top: 0px;
  }

  95% {
    margin-top: -3px;
  }

  100% {
    margin-top: 0px;
  }
}




.diceSideImg {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

@media (max-width: 660px) {
  .dice {
    width: 100px !important;
    height: 100px !important;
  }

  .diceFace {
    width: 100px !important;
    height: 100px !important;
  }

  .dice .front {
    transform: translateZ(50px) !important;
  }

  .dice .up {
    transform: rotateX(90deg) translateZ(50px) !important;
  }

  .dice .left {
    transform: rotateY(-90deg) translateZ(50px) !important;
  }

  .dice .right {
    transform: rotateY(90deg) translateZ(50px) !important;
  }

  .dice .bottom {
    transform: rotateX(-90deg) translateZ(50px) !important;
  }

  .dice .back {
    transform: rotateX(180deg) translateZ(50px) !important;
  }

  .diceWrap {
    transform: translate(-10px, -30px);
  }

}