.contentWrapper {
    display: flex;
    justify-content: center;
    padding: 15px;
    padding-bottom: 60px;
}

.content {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    position: relative;
    margin: auto;

}

.content>div {
    display: flex;
    justify-content: center;
}

.walletConnectBtnWrapper {
    margin: -20px 15px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.recentPlayTitle {
    font-size: 2rem;
    text-align: center;
}

.recentPlayPanelWrapper {
    display: flex;
    flex-direction: column;
}

.recentPlayPanel {
    /* background-color: #1e293b !important; */
}

.gamePlayPanel {
    display: flex;
    flex-direction: column;
    max-width: 420px;
    margin: auto;
}

.gamePlayPanel p {
    text-align: center;
}

.betSolPanel {
    grid-template-columns: 1fr 1fr;
    padding: 25px 0 0 0;
    grid-gap: 20px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.betSolBtn {
    width: calc(50% - 20px) !important;
}

.betNumberPanel {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;


}

.betNumberBtn {
    width: calc(50% - 20px) !important;
}

.curSolBalance {
    position: absolute;
    top: -20px;
    right: 18px;
}

.congratText {
    position: absolute;
    font-size: 35px;
    text-align: center;
}

.diceImgWrapper {
    margin-top: -50px;
    margin-left: -100px;
    margin-right: -100px;
}
.diceImgWrapper >img{
    animation: fadeIn 5s;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:0.85;}
}

.ready2RollBtn {
    max-width: 360px !important;
    margin: auto  !important;
    border: 2px solid white  !important;
    font-family: "Bree Serif" !important;
    font-size: 28px !important;
}
@media (max-width: 1000px) {
    .diceImgWrapper{
        margin: 0;
    }
    .walletConnectBtnWrapper {
        margin: 15px;
    }
}
@media (max-width: 660px) {
.ready2RollBtn {
    font-size: 18px !important;
}
}